DB_USER = "placeholder"
DB_PASSWORD = "placeholder"
DB_NAME = "placeholder" 
DB_HOST = "placeholder"
DB_PORT = "placeholder"

JWT_SECRET = "placeholder"

CLOUDINARY_KEY = "placeholder"
CLOUDINARY_SECRET = "placeholder"

MERCADO_PAGO_PUBLIC_KEY = "placeholder"
MERCADO_PAGO_ACCESS_TOKEN = "placeholder"